{% extends "/index/layout.html" %}

{% block body %}
{{ error }}
<div class="all-list-container">
    <div class="jumbotron">
        <h1 class="display-4">Create new tournament</h1>
        <hr class="my-4">
        <form method="POST" action="{{ url_for('tour_create') }}">
            <table>
                <tr>
                    <td>
                        {{ form.name.label }}
                    </td>
                    <td>
                        {{ form.name }}
                    </td>
                    <td>
                        <ul>
                            {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.playercount.label }}
                    </td>
                    <td>
                        {{ form.playercount }}
                    </td>
                    <td>
                        <ul>
                            {% for error in form.playercount.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.description.label }}
                    </td>
                    <td>
                        {{ form.description }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Create Tournament" />
                    </td>
                </tr>
        </form>
    </div>
</div>
{% endblock %}