<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tournament Bracket Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="/">Tournament Bracket Application</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('all_tour', page_num=1) }} ">All tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('joined_tour', page_num=1) }} ">Joined tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('owned_tour', page_num=1) }} ">Owned tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tour_new') }} ">Create new tournament</a>
                </li>
            </ul>
            <div class="form-inline mt-2 mt-md-0">
                <a href="{{ url_for('auth_logout') }}">Hello user {{ current_user.name }} -- Logout</a>
            </div>
            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_new') }} ">Register as new user</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>