{% extends "/index/layout.html" %}

{% block body %}
{{ error }}

<div class="jumbotron">
      <h1 class="display-4">{{ tournament.name }}</h1>
      {% if current_user.id == tournament.account_id and tournament.started == False %}

      <a href="{{ url_for('tour_edit_page', id=tournament.id) }}">edit this tournament</a>

      <form method="POST" action="{{ url_for('tour_start', id=tournament.id) }}">
            <input type="submit" value="Start this tournament!" />
      </form>

      {% endif %}
      <hr class="my-4">

      {% if tournament.started == True %}

      {% for match in matches %}
      <tr>
            <td>match {{ match.id }}:</td>

            <td>{{ match.player1_name }}</td>

            <td>{{ match.player2_name }}</td>
            <br />
      </tr>
      {% endfor %}

      {% endif %}

      <div class="d-flex flex-row bd-highlight mb-3">
      {% for player in tournamentplayers %}
      <div class="p-2 bd-highlight">{{ player.username }}</div>
      {% endfor %}
      </div>

      {% if tournament.started == False %}

      <form method="POST" action="{{ url_for('tour_join', id=tournament.id) }}">
            <input type="submit" value="Join this tournament!" />
      </form>

      {% endif %}

</div>
{% endblock %}