<h1>{{ tournament.name }}</h1>
<h1>{{ tournament.id }}</h1>


{% if current_user.id == tournament.account_id and tournament.started == False %}

<a href="{{ url_for('tour_edit_page', id=tournament.id) }}">edit this tournament</a>

<form method="POST" action="{{ url_for('tour_start', id=tournament.id) }}">
      <input type="submit" value="Start this tournament!" />
</form>

{% endif %}

<br />
<br />
<br />

{% if tournament.started == True %}

{% for match in matches %}
<tr>
      <td>{{ match.id }}</td>
      <td>{{ match.player1_id }}</td>
      <td>{{ match.player1_name }}</td>
      <td>{{ match.player2_id }}</td>
      <td>{{ match.player2_name }}</td>
      <br />
</tr>
{% endfor %}

{% endif %}

{% for player in tournamentplayers %}
<tr>
      <td>{{ player.username }}</td>
      <br />
</tr>
{% endfor %}

{% if tournament.started == False %}

<form method="POST" action="{{ url_for('tour_join', id=tournament.id) }}">
      <input type="submit" value="Join this tournament!" />
</form>

{% endif %}
